--
-- PostgreSQL database dump
--

\restrict vXoS6zWsYsFe3WeOEi6Aznv1joKVe3nG9TL8JIGHEkzQcnE6uPRcvCr4DhfcU1g

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: architectures; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.architectures (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    is_active boolean DEFAULT true
);


ALTER TABLE public.architectures OWNER TO postgres;

--
-- Name: architectures_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.architectures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.architectures_id_seq OWNER TO postgres;

--
-- Name: architectures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.architectures_id_seq OWNED BY public.architectures.id;


--
-- Name: areas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.areas (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    is_active boolean DEFAULT true
);


ALTER TABLE public.areas OWNER TO postgres;

--
-- Name: areas_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.areas_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.areas_id_seq OWNER TO postgres;

--
-- Name: areas_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.areas_id_seq OWNED BY public.areas.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    action character varying(50) NOT NULL,
    entity_type character varying(50) NOT NULL,
    entity_id integer NOT NULL,
    customer_id integer,
    user_id integer,
    "timestamp" timestamp without time zone,
    details json
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_logs_id_seq OWNER TO postgres;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: business_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.business_rules (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    description text,
    keywords text,
    priority integer NOT NULL,
    action_field character varying(50) NOT NULL,
    action_value character varying(100) NOT NULL,
    is_active boolean DEFAULT true,
    execution_order integer NOT NULL
);


ALTER TABLE public.business_rules OWNER TO postgres;

--
-- Name: business_rules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.business_rules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.business_rules_id_seq OWNER TO postgres;

--
-- Name: business_rules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.business_rules_id_seq OWNED BY public.business_rules.id;


--
-- Name: case_communications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.case_communications (
    id integer NOT NULL,
    pqrsf_id integer,
    subject character varying(255),
    tipo character varying(50),
    message_type character varying(50),
    direccion character varying(50),
    canal character varying(50),
    status character varying(50) DEFAULT 'Enviado'::character varying,
    autor_usuario_id integer,
    autor_contacto_id integer,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    mensaje text NOT NULL,
    visible_cliente boolean DEFAULT true,
    read_at timestamp without time zone,
    read_by integer
);


ALTER TABLE public.case_communications OWNER TO postgres;

--
-- Name: case_communications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.case_communications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.case_communications_id_seq OWNER TO postgres;

--
-- Name: case_communications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.case_communications_id_seq OWNED BY public.case_communications.id;


--
-- Name: case_status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.case_status_history (
    id integer NOT NULL,
    pqrsf_id integer,
    estado_anterior_id integer,
    estado_nuevo_id integer,
    usuario_id integer,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    motivo character varying(255),
    tiempo_permanencia_minutos integer
);


ALTER TABLE public.case_status_history OWNER TO postgres;

--
-- Name: case_status_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.case_status_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.case_status_history_id_seq OWNER TO postgres;

--
-- Name: case_status_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.case_status_history_id_seq OWNED BY public.case_status_history.id;


--
-- Name: cause_categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cause_categories (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    is_active boolean DEFAULT true
);


ALTER TABLE public.cause_categories OWNER TO postgres;

--
-- Name: cause_categories_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.cause_categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.cause_categories_id_seq OWNER TO postgres;

--
-- Name: cause_categories_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.cause_categories_id_seq OWNED BY public.cause_categories.id;


--
-- Name: classification_feedback; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.classification_feedback (
    id integer NOT NULL,
    pqrsf_id integer,
    ia_classification jsonb,
    final_classification jsonb,
    usuario_id integer,
    reason text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.classification_feedback OWNER TO postgres;

--
-- Name: classification_feedback_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.classification_feedback_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.classification_feedback_id_seq OWNER TO postgres;

--
-- Name: classification_feedback_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.classification_feedback_id_seq OWNED BY public.classification_feedback.id;


--
-- Name: communication_attachments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.communication_attachments (
    id integer NOT NULL,
    communication_id integer,
    file_name character varying(255) NOT NULL,
    file_path character varying(500) NOT NULL,
    storage_provider character varying(50) DEFAULT 'Local'::character varying,
    content_type character varying(100),
    size integer,
    uploaded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.communication_attachments OWNER TO postgres;

--
-- Name: communication_attachments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.communication_attachments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.communication_attachments_id_seq OWNER TO postgres;

--
-- Name: communication_attachments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.communication_attachments_id_seq OWNED BY public.communication_attachments.id;


--
-- Name: contacts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contacts (
    id integer NOT NULL,
    customer_id integer,
    name character varying(150) NOT NULL,
    cargo character varying(100),
    email character varying(150) NOT NULL,
    phone character varying(50),
    is_active boolean DEFAULT true,
    receives_notifications boolean DEFAULT true,
    authorized_for_pqrsf boolean DEFAULT true,
    password_hash character varying(255),
    apellidos character varying(150),
    area character varying(100),
    celular character varying(50),
    fecha_nacimiento date,
    idioma character varying(10) DEFAULT 'es'::character varying,
    recibir_comunicaciones boolean DEFAULT true,
    medio_preferido character varying(50),
    es_principal boolean DEFAULT false,
    es_tecnico boolean DEFAULT false,
    es_administrativo boolean DEFAULT false,
    es_comercial boolean DEFAULT false,
    notas_relacionamiento text,
    deactivation_reporter character varying(150),
    deactivation_support text,
    deactivation_date timestamp without time zone,
    functional_id character varying(50),
    additional_data json
);


ALTER TABLE public.contacts OWNER TO postgres;

--
-- Name: contacts_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.contacts_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.contacts_id_seq OWNER TO postgres;

--
-- Name: contacts_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.contacts_id_seq OWNED BY public.contacts.id;


--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    nit character varying(50),
    criticality character varying(50) DEFAULT 'Est├índar'::character varying,
    sector character varying(100),
    observaciones text,
    is_active boolean DEFAULT true,
    ciudad character varying(100),
    pais character varying(100),
    estado character varying(50),
    fecha_alta_comercial date,
    ejecutivo_cuenta_id integer,
    notas_relacionamiento text,
    logo_path character varying(255),
    logo_filename character varying(255),
    logo_content_type character varying(50),
    logo_updated_at timestamp with time zone,
    pm_id integer,
    sdm_id integer,
    razon_social character varying(200),
    direccion_principal character varying(255),
    pagina_web character varying(255),
    telefono_principal character varying(50),
    economic_sector_id integer,
    document_type character varying(20) DEFAULT 'NIT'::character varying
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: customers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.customers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.customers_id_seq OWNER TO postgres;

--
-- Name: customers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.customers_id_seq OWNED BY public.customers.id;


--
-- Name: dashboard_configs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.dashboard_configs (
    id integer NOT NULL,
    key_name character varying(100) NOT NULL,
    value jsonb NOT NULL
);


ALTER TABLE public.dashboard_configs OWNER TO postgres;

--
-- Name: dashboard_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.dashboard_configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.dashboard_configs_id_seq OWNER TO postgres;

--
-- Name: dashboard_configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.dashboard_configs_id_seq OWNED BY public.dashboard_configs.id;


--
-- Name: economic_sectors; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.economic_sectors (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    is_active boolean,
    order_index integer
);


ALTER TABLE public.economic_sectors OWNER TO postgres;

--
-- Name: economic_sectors_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.economic_sectors_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.economic_sectors_id_seq OWNER TO postgres;

--
-- Name: economic_sectors_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.economic_sectors_id_seq OWNED BY public.economic_sectors.id;


--
-- Name: general_parameters; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.general_parameters (
    id integer NOT NULL,
    key_name character varying(100) NOT NULL,
    value text NOT NULL,
    description text
);


ALTER TABLE public.general_parameters OWNER TO postgres;

--
-- Name: general_parameters_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.general_parameters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.general_parameters_id_seq OWNER TO postgres;

--
-- Name: general_parameters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.general_parameters_id_seq OWNED BY public.general_parameters.id;


--
-- Name: integration_configs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.integration_configs (
    id integer NOT NULL,
    provider_name character varying(100) NOT NULL,
    config_json text,
    is_active boolean DEFAULT true
);


ALTER TABLE public.integration_configs OWNER TO postgres;

--
-- Name: integration_configs_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.integration_configs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.integration_configs_id_seq OWNER TO postgres;

--
-- Name: integration_configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.integration_configs_id_seq OWNED BY public.integration_configs.id;


--
-- Name: knowledge_articles; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.knowledge_articles (
    id integer NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    arquitectura_id integer,
    area_id integer,
    source_pqrsf_id integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_published boolean DEFAULT true
);


ALTER TABLE public.knowledge_articles OWNER TO postgres;

--
-- Name: knowledge_articles_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.knowledge_articles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.knowledge_articles_id_seq OWNER TO postgres;

--
-- Name: knowledge_articles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.knowledge_articles_id_seq OWNED BY public.knowledge_articles.id;


--
-- Name: management_systems; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.management_systems (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    description text,
    is_active boolean DEFAULT true
);


ALTER TABLE public.management_systems OWNER TO postgres;

--
-- Name: management_systems_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.management_systems_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.management_systems_id_seq OWNER TO postgres;

--
-- Name: management_systems_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.management_systems_id_seq OWNED BY public.management_systems.id;


--
-- Name: organizational_findings; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizational_findings (
    id integer NOT NULL,
    pqrsf_id integer,
    management_system_id integer,
    categoria character varying(100),
    descripcion text,
    nivel_confianza_ia double precision,
    estado character varying(50) DEFAULT 'Detectado por IA'::character varying,
    validado_por_id integer,
    fecha_validacion timestamp without time zone
);


ALTER TABLE public.organizational_findings OWNER TO postgres;

--
-- Name: organizational_findings_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.organizational_findings_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.organizational_findings_id_seq OWNER TO postgres;

--
-- Name: organizational_findings_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.organizational_findings_id_seq OWNED BY public.organizational_findings.id;


--
-- Name: pqrsf; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pqrsf (
    id integer NOT NULL,
    consecutivo character varying(50) NOT NULL,
    fecha_creacion timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    customer_id integer,
    contact_id integer,
    cliente_empresa character varying(150),
    correo character varying(150),
    asunto character varying(255),
    descripcion text,
    tipo_id integer,
    area_id integer,
    arquitectura_id integer,
    prioridad_id integer,
    sentimiento_id integer,
    causa_probable_id integer,
    categoria_causa_id integer,
    estado_id integer,
    area_responsable_id integer,
    responsable_id integer,
    accion_recomendada text,
    resumen text,
    impacto text,
    riesgo text,
    recomendacion text,
    clasificacion_ia jsonb,
    clasificacion_final jsonb,
    regla_aplicada_id integer,
    clasificacion_modificada boolean DEFAULT false,
    horas_objetivo integer,
    fecha_vencimiento timestamp without time zone,
    estado_sla character varying(50),
    fecha_cierre timestamp without time zone
);


ALTER TABLE public.pqrsf OWNER TO postgres;

--
-- Name: pqrsf_attachments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pqrsf_attachments (
    id integer NOT NULL,
    pqrsf_id integer,
    file_name character varying(255) NOT NULL,
    file_path character varying(255) NOT NULL,
    content_type character varying(100),
    size integer,
    uploaded_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pqrsf_attachments OWNER TO postgres;

--
-- Name: pqrsf_attachments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pqrsf_attachments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pqrsf_attachments_id_seq OWNER TO postgres;

--
-- Name: pqrsf_attachments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pqrsf_attachments_id_seq OWNED BY public.pqrsf_attachments.id;


--
-- Name: pqrsf_comments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pqrsf_comments (
    id integer NOT NULL,
    pqrsf_id integer,
    usuario_id integer,
    comentario text NOT NULL,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.pqrsf_comments OWNER TO postgres;

--
-- Name: pqrsf_comments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pqrsf_comments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pqrsf_comments_id_seq OWNER TO postgres;

--
-- Name: pqrsf_comments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pqrsf_comments_id_seq OWNED BY public.pqrsf_comments.id;


--
-- Name: pqrsf_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pqrsf_history (
    id integer NOT NULL,
    pqrsf_id integer,
    fecha timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    accion character varying(100) NOT NULL,
    descripcion text,
    usuario_id integer,
    field_modified character varying(100),
    old_value text,
    new_value text
);


ALTER TABLE public.pqrsf_history OWNER TO postgres;

--
-- Name: pqrsf_history_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pqrsf_history_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pqrsf_history_id_seq OWNER TO postgres;

--
-- Name: pqrsf_history_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pqrsf_history_id_seq OWNED BY public.pqrsf_history.id;


--
-- Name: pqrsf_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pqrsf_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pqrsf_id_seq OWNER TO postgres;

--
-- Name: pqrsf_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pqrsf_id_seq OWNED BY public.pqrsf.id;


--
-- Name: pqrsf_types; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pqrsf_types (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    is_active boolean DEFAULT true,
    plantilla_respuesta text
);


ALTER TABLE public.pqrsf_types OWNER TO postgres;

--
-- Name: pqrsf_types_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.pqrsf_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.pqrsf_types_id_seq OWNER TO postgres;

--
-- Name: pqrsf_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.pqrsf_types_id_seq OWNED BY public.pqrsf_types.id;


--
-- Name: priorities; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.priorities (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    color character varying(20) DEFAULT '#000000'::character varying,
    horas_objetivo integer NOT NULL,
    orden integer NOT NULL,
    is_active boolean DEFAULT true
);


ALTER TABLE public.priorities OWNER TO postgres;

--
-- Name: priorities_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.priorities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.priorities_id_seq OWNER TO postgres;

--
-- Name: priorities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.priorities_id_seq OWNED BY public.priorities.id;


--
-- Name: probables_causes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.probables_causes (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    is_active boolean DEFAULT true
);


ALTER TABLE public.probables_causes OWNER TO postgres;

--
-- Name: probables_causes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.probables_causes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.probables_causes_id_seq OWNER TO postgres;

--
-- Name: probables_causes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.probables_causes_id_seq OWNED BY public.probables_causes.id;


--
-- Name: processes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.processes (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    code character varying(50),
    management_system_id integer,
    responsable_id integer,
    is_active boolean DEFAULT true
);


ALTER TABLE public.processes OWNER TO postgres;

--
-- Name: processes_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.processes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.processes_id_seq OWNER TO postgres;

--
-- Name: processes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.processes_id_seq OWNED BY public.processes.id;


--
-- Name: sentiments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sentiments (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    is_active boolean DEFAULT true
);


ALTER TABLE public.sentiments OWNER TO postgres;

--
-- Name: sentiments_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sentiments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sentiments_id_seq OWNER TO postgres;

--
-- Name: sentiments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sentiments_id_seq OWNED BY public.sentiments.id;


--
-- Name: sla_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sla_rules (
    id integer NOT NULL,
    tipo_id integer,
    prioridad_id integer,
    horas_objetivo integer NOT NULL,
    arquitectura_id integer,
    area_id integer,
    customer_id integer
);


ALTER TABLE public.sla_rules OWNER TO postgres;

--
-- Name: sla_rules_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.sla_rules_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.sla_rules_id_seq OWNER TO postgres;

--
-- Name: sla_rules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.sla_rules_id_seq OWNED BY public.sla_rules.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(150) NOT NULL,
    email character varying(150) NOT NULL,
    username character varying(50) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(50) DEFAULT 'Administrador'::character varying,
    area_id integer,
    is_active boolean DEFAULT true,
    last_login timestamp without time zone,
    job_title character varying(100)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO postgres;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: workflow_state_visibility; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_state_visibility (
    id integer NOT NULL,
    workflow_state_id integer,
    client_state_name character varying(100) NOT NULL,
    language character varying(10) DEFAULT 'es'::character varying
);


ALTER TABLE public.workflow_state_visibility OWNER TO postgres;

--
-- Name: workflow_state_visibility_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.workflow_state_visibility_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.workflow_state_visibility_id_seq OWNER TO postgres;

--
-- Name: workflow_state_visibility_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.workflow_state_visibility_id_seq OWNED BY public.workflow_state_visibility.id;


--
-- Name: workflow_states; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_states (
    id integer NOT NULL,
    name character varying(50) NOT NULL,
    description text,
    is_initial boolean DEFAULT false,
    is_final boolean DEFAULT false,
    sla_paused boolean DEFAULT false,
    is_active boolean DEFAULT true
);


ALTER TABLE public.workflow_states OWNER TO postgres;

--
-- Name: workflow_states_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.workflow_states_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.workflow_states_id_seq OWNER TO postgres;

--
-- Name: workflow_states_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.workflow_states_id_seq OWNED BY public.workflow_states.id;


--
-- Name: workflow_transitions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.workflow_transitions (
    id integer NOT NULL,
    from_state_id integer,
    to_state_id integer,
    allowed_roles character varying(255)
);


ALTER TABLE public.workflow_transitions OWNER TO postgres;

--
-- Name: workflow_transitions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.workflow_transitions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.workflow_transitions_id_seq OWNER TO postgres;

--
-- Name: workflow_transitions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.workflow_transitions_id_seq OWNED BY public.workflow_transitions.id;


--
-- Name: architectures id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.architectures ALTER COLUMN id SET DEFAULT nextval('public.architectures_id_seq'::regclass);


--
-- Name: areas id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.areas ALTER COLUMN id SET DEFAULT nextval('public.areas_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: business_rules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_rules ALTER COLUMN id SET DEFAULT nextval('public.business_rules_id_seq'::regclass);


--
-- Name: case_communications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_communications ALTER COLUMN id SET DEFAULT nextval('public.case_communications_id_seq'::regclass);


--
-- Name: case_status_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_status_history ALTER COLUMN id SET DEFAULT nextval('public.case_status_history_id_seq'::regclass);


--
-- Name: cause_categories id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cause_categories ALTER COLUMN id SET DEFAULT nextval('public.cause_categories_id_seq'::regclass);


--
-- Name: classification_feedback id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classification_feedback ALTER COLUMN id SET DEFAULT nextval('public.classification_feedback_id_seq'::regclass);


--
-- Name: communication_attachments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_attachments ALTER COLUMN id SET DEFAULT nextval('public.communication_attachments_id_seq'::regclass);


--
-- Name: contacts id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contacts ALTER COLUMN id SET DEFAULT nextval('public.contacts_id_seq'::regclass);


--
-- Name: customers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers ALTER COLUMN id SET DEFAULT nextval('public.customers_id_seq'::regclass);


--
-- Name: dashboard_configs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dashboard_configs ALTER COLUMN id SET DEFAULT nextval('public.dashboard_configs_id_seq'::regclass);


--
-- Name: economic_sectors id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.economic_sectors ALTER COLUMN id SET DEFAULT nextval('public.economic_sectors_id_seq'::regclass);


--
-- Name: general_parameters id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_parameters ALTER COLUMN id SET DEFAULT nextval('public.general_parameters_id_seq'::regclass);


--
-- Name: integration_configs id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.integration_configs ALTER COLUMN id SET DEFAULT nextval('public.integration_configs_id_seq'::regclass);


--
-- Name: knowledge_articles id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knowledge_articles ALTER COLUMN id SET DEFAULT nextval('public.knowledge_articles_id_seq'::regclass);


--
-- Name: management_systems id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.management_systems ALTER COLUMN id SET DEFAULT nextval('public.management_systems_id_seq'::regclass);


--
-- Name: organizational_findings id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizational_findings ALTER COLUMN id SET DEFAULT nextval('public.organizational_findings_id_seq'::regclass);


--
-- Name: pqrsf id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf ALTER COLUMN id SET DEFAULT nextval('public.pqrsf_id_seq'::regclass);


--
-- Name: pqrsf_attachments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_attachments ALTER COLUMN id SET DEFAULT nextval('public.pqrsf_attachments_id_seq'::regclass);


--
-- Name: pqrsf_comments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_comments ALTER COLUMN id SET DEFAULT nextval('public.pqrsf_comments_id_seq'::regclass);


--
-- Name: pqrsf_history id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_history ALTER COLUMN id SET DEFAULT nextval('public.pqrsf_history_id_seq'::regclass);


--
-- Name: pqrsf_types id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_types ALTER COLUMN id SET DEFAULT nextval('public.pqrsf_types_id_seq'::regclass);


--
-- Name: priorities id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.priorities ALTER COLUMN id SET DEFAULT nextval('public.priorities_id_seq'::regclass);


--
-- Name: probables_causes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.probables_causes ALTER COLUMN id SET DEFAULT nextval('public.probables_causes_id_seq'::regclass);


--
-- Name: processes id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processes ALTER COLUMN id SET DEFAULT nextval('public.processes_id_seq'::regclass);


--
-- Name: sentiments id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sentiments ALTER COLUMN id SET DEFAULT nextval('public.sentiments_id_seq'::regclass);


--
-- Name: sla_rules id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sla_rules ALTER COLUMN id SET DEFAULT nextval('public.sla_rules_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Name: workflow_state_visibility id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_state_visibility ALTER COLUMN id SET DEFAULT nextval('public.workflow_state_visibility_id_seq'::regclass);


--
-- Name: workflow_states id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_states ALTER COLUMN id SET DEFAULT nextval('public.workflow_states_id_seq'::regclass);


--
-- Name: workflow_transitions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_transitions ALTER COLUMN id SET DEFAULT nextval('public.workflow_transitions_id_seq'::regclass);


--
-- Data for Name: architectures; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.architectures (id, name, is_active) FROM stdin;
1	Enterprise Networking	t
2	Datacenter	t
3	Seguridad	t
4	Cloud	t
5	Colaboraci├│n	t
6	Servicios Administrados	t
\.


--
-- Data for Name: areas; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.areas (id, name, is_active) FROM stdin;
1	Comercial	t
2	Preventa	t
3	Capital Humano	t
4	Team SGI	t
5	Gesti├│n Administrativa	t
6	Operaciones - PMO	t
7	Operaciones - SMO	t
8	Operaciones - Delivery	t
9	Operaciones - Soporte y Helpdesk	t
10	Operaciones - Servicios Administrados	t
11	Operaciones - Customer Experience	t
12	Operaciones - NOC/SOC	t
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.audit_logs (id, action, entity_type, entity_id, customer_id, user_id, "timestamp", details) FROM stdin;
\.


--
-- Data for Name: business_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.business_rules (id, name, description, keywords, priority, action_field, action_value, is_active, execution_order) FROM stdin;
\.


--
-- Data for Name: case_communications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.case_communications (id, pqrsf_id, subject, tipo, message_type, direccion, canal, status, autor_usuario_id, autor_contacto_id, fecha, mensaje, visible_cliente, read_at, read_by) FROM stdin;
\.


--
-- Data for Name: case_status_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.case_status_history (id, pqrsf_id, estado_anterior_id, estado_nuevo_id, usuario_id, fecha, motivo, tiempo_permanencia_minutos) FROM stdin;
\.


--
-- Data for Name: cause_categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cause_categories (id, name, is_active) FROM stdin;
1	Infraestructura	t
2	Software	t
3	Proceso	t
4	Humano	t
\.


--
-- Data for Name: classification_feedback; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.classification_feedback (id, pqrsf_id, ia_classification, final_classification, usuario_id, reason, created_at) FROM stdin;
\.


--
-- Data for Name: communication_attachments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.communication_attachments (id, communication_id, file_name, file_path, storage_provider, content_type, size, uploaded_at) FROM stdin;
\.


--
-- Data for Name: contacts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.contacts (id, customer_id, name, cargo, email, phone, is_active, receives_notifications, authorized_for_pqrsf, password_hash, apellidos, area, celular, fecha_nacimiento, idioma, recibir_comunicaciones, medio_preferido, es_principal, es_tecnico, es_administrativo, es_comercial, notas_relacionamiento, deactivation_reporter, deactivation_support, deactivation_date, functional_id, additional_data) FROM stdin;
\.


--
-- Data for Name: customers; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: dashboard_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.dashboard_configs (id, key_name, value) FROM stdin;
\.


--
-- Data for Name: economic_sectors; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.economic_sectors (id, name, is_active, order_index) FROM stdin;
1	Banca	t	0
2	Salud	t	1
3	Sector P├║blico Nacional	t	2
4	Sector P├║blico Territorial	t	3
5	Educaci├│n	t	4
6	Industria	t	5
7	Energ├¡a	t	6
8	Telecomunicaciones	t	7
9	Comercial	t	8
10	Servicios	t	9
11	Manufactura	t	10
12	Otro	t	11
\.


--
-- Data for Name: general_parameters; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.general_parameters (id, key_name, value, description) FROM stdin;
\.


--
-- Data for Name: integration_configs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.integration_configs (id, provider_name, config_json, is_active) FROM stdin;
\.


--
-- Data for Name: knowledge_articles; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.knowledge_articles (id, title, content, arquitectura_id, area_id, source_pqrsf_id, created_at, is_published) FROM stdin;
\.


--
-- Data for Name: management_systems; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.management_systems (id, name, description, is_active) FROM stdin;
1	Calidad	Sistema de Gesti├│n de Calidad	t
2	Seguridad de la Informaci├│n	Sistema de Gesti├│n de Seguridad de la Informaci├│n	t
3	Continuidad del Negocio	Sistema de Gesti├│n de Continuidad del Negocio (BCM)	t
4	SST	Sistema de Gesti├│n de Seguridad y Salud en el Trabajo	t
5	Ambiental	Sistema de Gesti├│n Ambiental	t
7	Experiencia del Cliente	Customer Experience (CX)	t
8	Innovaci├│n	Gesti├│n de la Innovaci├│n	t
6	Compliance	Cumplimiento Normativo	f
\.


--
-- Data for Name: organizational_findings; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizational_findings (id, pqrsf_id, management_system_id, categoria, descripcion, nivel_confianza_ia, estado, validado_por_id, fecha_validacion) FROM stdin;
\.


--
-- Data for Name: pqrsf; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pqrsf (id, consecutivo, fecha_creacion, customer_id, contact_id, cliente_empresa, correo, asunto, descripcion, tipo_id, area_id, arquitectura_id, prioridad_id, sentimiento_id, causa_probable_id, categoria_causa_id, estado_id, area_responsable_id, responsable_id, accion_recomendada, resumen, impacto, riesgo, recomendacion, clasificacion_ia, clasificacion_final, regla_aplicada_id, clasificacion_modificada, horas_objetivo, fecha_vencimiento, estado_sla, fecha_cierre) FROM stdin;
\.


--
-- Data for Name: pqrsf_attachments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pqrsf_attachments (id, pqrsf_id, file_name, file_path, content_type, size, uploaded_at) FROM stdin;
\.


--
-- Data for Name: pqrsf_comments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pqrsf_comments (id, pqrsf_id, usuario_id, comentario, fecha) FROM stdin;
\.


--
-- Data for Name: pqrsf_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pqrsf_history (id, pqrsf_id, fecha, accion, descripcion, usuario_id, field_modified, old_value, new_value) FROM stdin;
\.


--
-- Data for Name: pqrsf_types; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.pqrsf_types (id, name, is_active, plantilla_respuesta) FROM stdin;
1	Petici├│n	t	\N
2	Queja	t	\N
3	Reclamo	t	\N
4	Solicitud	t	\N
5	Felicitaci├│n	t	\N
6	Incidente	t	\N
7	Problema	t	\N
8	Consulta	t	\N
\.


--
-- Data for Name: priorities; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.priorities (id, name, color, horas_objetivo, orden, is_active) FROM stdin;
1	Cr├¡tica	#ff0000	4	1	t
2	Alta	#ff8800	12	2	t
3	Media	#ffff00	24	3	t
4	Baja	#00ff00	48	4	t
\.


--
-- Data for Name: probables_causes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.probables_causes (id, name, is_active) FROM stdin;
1	Falla de Hardware	t
2	Falla de Enlace	t
3	Error de Configuraci├│n	t
4	Ca├¡da de Servicio	t
\.


--
-- Data for Name: processes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.processes (id, name, code, management_system_id, responsable_id, is_active) FROM stdin;
\.


--
-- Data for Name: sentiments; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sentiments (id, name, is_active) FROM stdin;
1	Positivo	t
2	Negativo	t
3	Neutral	t
\.


--
-- Data for Name: sla_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.sla_rules (id, tipo_id, prioridad_id, horas_objetivo, arquitectura_id, area_id, customer_id) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: workflow_state_visibility; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.workflow_state_visibility (id, workflow_state_id, client_state_name, language) FROM stdin;
\.


--
-- Data for Name: workflow_states; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.workflow_states (id, name, description, is_initial, is_final, sla_paused, is_active) FROM stdin;
1	Registrado	\N	t	f	f	t
2	Clasificado IA	\N	f	f	f	t
3	Validado	\N	f	f	f	t
4	Asignado	\N	f	f	f	t
5	En Gesti├│n	\N	f	f	f	t
6	Pendiente Cliente	\N	f	f	t	t
7	Escalado	\N	f	f	f	t
8	Resuelto	\N	f	f	f	t
9	Cerrado	\N	f	t	t	t
10	Cancelado	\N	f	t	t	t
\.


--
-- Data for Name: workflow_transitions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.workflow_transitions (id, from_state_id, to_state_id, allowed_roles) FROM stdin;
1	1	2	*
2	1	10	*
3	2	3	*
4	2	4	*
5	3	4	*
6	4	5	*
7	5	6	*
8	6	5	*
9	5	7	*
10	7	5	*
11	5	8	*
12	8	9	*
13	8	5	*
\.


--
-- Name: architectures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.architectures_id_seq', 6, true);


--
-- Name: areas_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.areas_id_seq', 12, true);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 1, true);


--
-- Name: business_rules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.business_rules_id_seq', 1, false);


--
-- Name: case_communications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.case_communications_id_seq', 1, false);


--
-- Name: case_status_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.case_status_history_id_seq', 1, false);


--
-- Name: cause_categories_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.cause_categories_id_seq', 4, true);


--
-- Name: classification_feedback_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.classification_feedback_id_seq', 1, true);


--
-- Name: communication_attachments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.communication_attachments_id_seq', 1, false);


--
-- Name: contacts_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.contacts_id_seq', 27, true);


--
-- Name: customers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.customers_id_seq', 34, true);


--
-- Name: dashboard_configs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.dashboard_configs_id_seq', 1, false);


--
-- Name: economic_sectors_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.economic_sectors_id_seq', 12, true);


--
-- Name: general_parameters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.general_parameters_id_seq', 1, false);


--
-- Name: integration_configs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.integration_configs_id_seq', 1, false);


--
-- Name: knowledge_articles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.knowledge_articles_id_seq', 1, false);


--
-- Name: management_systems_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.management_systems_id_seq', 8, true);


--
-- Name: organizational_findings_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.organizational_findings_id_seq', 1, false);


--
-- Name: pqrsf_attachments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pqrsf_attachments_id_seq', 1, true);


--
-- Name: pqrsf_comments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pqrsf_comments_id_seq', 1, true);


--
-- Name: pqrsf_history_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pqrsf_history_id_seq', 6, true);


--
-- Name: pqrsf_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pqrsf_id_seq', 13, true);


--
-- Name: pqrsf_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.pqrsf_types_id_seq', 8, true);


--
-- Name: priorities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.priorities_id_seq', 4, true);


--
-- Name: probables_causes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.probables_causes_id_seq', 4, true);


--
-- Name: processes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.processes_id_seq', 1, false);


--
-- Name: sentiments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sentiments_id_seq', 3, true);


--
-- Name: sla_rules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.sla_rules_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 22, true);


--
-- Name: workflow_state_visibility_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.workflow_state_visibility_id_seq', 1, false);


--
-- Name: workflow_states_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.workflow_states_id_seq', 10, true);


--
-- Name: workflow_transitions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.workflow_transitions_id_seq', 13, true);


--
-- Name: architectures architectures_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.architectures
    ADD CONSTRAINT architectures_name_key UNIQUE (name);


--
-- Name: architectures architectures_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.architectures
    ADD CONSTRAINT architectures_pkey PRIMARY KEY (id);


--
-- Name: areas areas_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT areas_name_key UNIQUE (name);


--
-- Name: areas areas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.areas
    ADD CONSTRAINT areas_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: business_rules business_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.business_rules
    ADD CONSTRAINT business_rules_pkey PRIMARY KEY (id);


--
-- Name: case_communications case_communications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_communications
    ADD CONSTRAINT case_communications_pkey PRIMARY KEY (id);


--
-- Name: case_status_history case_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_status_history
    ADD CONSTRAINT case_status_history_pkey PRIMARY KEY (id);


--
-- Name: cause_categories cause_categories_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cause_categories
    ADD CONSTRAINT cause_categories_name_key UNIQUE (name);


--
-- Name: cause_categories cause_categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cause_categories
    ADD CONSTRAINT cause_categories_pkey PRIMARY KEY (id);


--
-- Name: classification_feedback classification_feedback_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classification_feedback
    ADD CONSTRAINT classification_feedback_pkey PRIMARY KEY (id);


--
-- Name: communication_attachments communication_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_attachments
    ADD CONSTRAINT communication_attachments_pkey PRIMARY KEY (id);


--
-- Name: contacts contacts_customer_id_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_customer_id_email_key UNIQUE (customer_id, email);


--
-- Name: contacts contacts_functional_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_functional_id_key UNIQUE (functional_id);


--
-- Name: contacts contacts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_pkey PRIMARY KEY (id);


--
-- Name: customers customers_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_name_key UNIQUE (name);


--
-- Name: customers customers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey PRIMARY KEY (id);


--
-- Name: dashboard_configs dashboard_configs_key_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dashboard_configs
    ADD CONSTRAINT dashboard_configs_key_name_key UNIQUE (key_name);


--
-- Name: dashboard_configs dashboard_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.dashboard_configs
    ADD CONSTRAINT dashboard_configs_pkey PRIMARY KEY (id);


--
-- Name: economic_sectors economic_sectors_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.economic_sectors
    ADD CONSTRAINT economic_sectors_name_key UNIQUE (name);


--
-- Name: economic_sectors economic_sectors_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.economic_sectors
    ADD CONSTRAINT economic_sectors_pkey PRIMARY KEY (id);


--
-- Name: general_parameters general_parameters_key_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_parameters
    ADD CONSTRAINT general_parameters_key_name_key UNIQUE (key_name);


--
-- Name: general_parameters general_parameters_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.general_parameters
    ADD CONSTRAINT general_parameters_pkey PRIMARY KEY (id);


--
-- Name: integration_configs integration_configs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.integration_configs
    ADD CONSTRAINT integration_configs_pkey PRIMARY KEY (id);


--
-- Name: integration_configs integration_configs_provider_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.integration_configs
    ADD CONSTRAINT integration_configs_provider_name_key UNIQUE (provider_name);


--
-- Name: knowledge_articles knowledge_articles_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knowledge_articles
    ADD CONSTRAINT knowledge_articles_pkey PRIMARY KEY (id);


--
-- Name: management_systems management_systems_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.management_systems
    ADD CONSTRAINT management_systems_name_key UNIQUE (name);


--
-- Name: management_systems management_systems_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.management_systems
    ADD CONSTRAINT management_systems_pkey PRIMARY KEY (id);


--
-- Name: organizational_findings organizational_findings_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizational_findings
    ADD CONSTRAINT organizational_findings_pkey PRIMARY KEY (id);


--
-- Name: pqrsf_attachments pqrsf_attachments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_attachments
    ADD CONSTRAINT pqrsf_attachments_pkey PRIMARY KEY (id);


--
-- Name: pqrsf_comments pqrsf_comments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_comments
    ADD CONSTRAINT pqrsf_comments_pkey PRIMARY KEY (id);


--
-- Name: pqrsf pqrsf_consecutivo_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_consecutivo_key UNIQUE (consecutivo);


--
-- Name: pqrsf_history pqrsf_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_history
    ADD CONSTRAINT pqrsf_history_pkey PRIMARY KEY (id);


--
-- Name: pqrsf pqrsf_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_pkey PRIMARY KEY (id);


--
-- Name: pqrsf_types pqrsf_types_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_types
    ADD CONSTRAINT pqrsf_types_name_key UNIQUE (name);


--
-- Name: pqrsf_types pqrsf_types_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_types
    ADD CONSTRAINT pqrsf_types_pkey PRIMARY KEY (id);


--
-- Name: priorities priorities_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.priorities
    ADD CONSTRAINT priorities_name_key UNIQUE (name);


--
-- Name: priorities priorities_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.priorities
    ADD CONSTRAINT priorities_pkey PRIMARY KEY (id);


--
-- Name: probables_causes probables_causes_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.probables_causes
    ADD CONSTRAINT probables_causes_name_key UNIQUE (name);


--
-- Name: probables_causes probables_causes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.probables_causes
    ADD CONSTRAINT probables_causes_pkey PRIMARY KEY (id);


--
-- Name: processes processes_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processes
    ADD CONSTRAINT processes_code_key UNIQUE (code);


--
-- Name: processes processes_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processes
    ADD CONSTRAINT processes_name_key UNIQUE (name);


--
-- Name: processes processes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processes
    ADD CONSTRAINT processes_pkey PRIMARY KEY (id);


--
-- Name: sentiments sentiments_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sentiments
    ADD CONSTRAINT sentiments_name_key UNIQUE (name);


--
-- Name: sentiments sentiments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sentiments
    ADD CONSTRAINT sentiments_pkey PRIMARY KEY (id);


--
-- Name: sla_rules sla_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sla_rules
    ADD CONSTRAINT sla_rules_pkey PRIMARY KEY (id);


--
-- Name: sla_rules sla_rules_tipo_id_prioridad_id_arquitectura_id_area_id_cust_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sla_rules
    ADD CONSTRAINT sla_rules_tipo_id_prioridad_id_arquitectura_id_area_id_cust_key UNIQUE (tipo_id, prioridad_id, arquitectura_id, area_id, customer_id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: workflow_state_visibility workflow_state_visibility_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_state_visibility
    ADD CONSTRAINT workflow_state_visibility_pkey PRIMARY KEY (id);


--
-- Name: workflow_states workflow_states_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_states
    ADD CONSTRAINT workflow_states_name_key UNIQUE (name);


--
-- Name: workflow_states workflow_states_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_states
    ADD CONSTRAINT workflow_states_pkey PRIMARY KEY (id);


--
-- Name: workflow_transitions workflow_transitions_from_state_id_to_state_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_transitions
    ADD CONSTRAINT workflow_transitions_from_state_id_to_state_id_key UNIQUE (from_state_id, to_state_id);


--
-- Name: workflow_transitions workflow_transitions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_transitions
    ADD CONSTRAINT workflow_transitions_pkey PRIMARY KEY (id);


--
-- Name: ix_audit_logs_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_audit_logs_id ON public.audit_logs USING btree (id);


--
-- Name: ix_economic_sectors_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX ix_economic_sectors_id ON public.economic_sectors USING btree (id);


--
-- Name: audit_logs audit_logs_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: case_communications case_communications_autor_contacto_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_communications
    ADD CONSTRAINT case_communications_autor_contacto_id_fkey FOREIGN KEY (autor_contacto_id) REFERENCES public.contacts(id) ON DELETE SET NULL;


--
-- Name: case_communications case_communications_autor_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_communications
    ADD CONSTRAINT case_communications_autor_usuario_id_fkey FOREIGN KEY (autor_usuario_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: case_communications case_communications_pqrsf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_communications
    ADD CONSTRAINT case_communications_pqrsf_id_fkey FOREIGN KEY (pqrsf_id) REFERENCES public.pqrsf(id) ON DELETE CASCADE;


--
-- Name: case_communications case_communications_read_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_communications
    ADD CONSTRAINT case_communications_read_by_fkey FOREIGN KEY (read_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: case_status_history case_status_history_estado_anterior_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_status_history
    ADD CONSTRAINT case_status_history_estado_anterior_id_fkey FOREIGN KEY (estado_anterior_id) REFERENCES public.workflow_states(id) ON DELETE SET NULL;


--
-- Name: case_status_history case_status_history_estado_nuevo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_status_history
    ADD CONSTRAINT case_status_history_estado_nuevo_id_fkey FOREIGN KEY (estado_nuevo_id) REFERENCES public.workflow_states(id) ON DELETE CASCADE;


--
-- Name: case_status_history case_status_history_pqrsf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_status_history
    ADD CONSTRAINT case_status_history_pqrsf_id_fkey FOREIGN KEY (pqrsf_id) REFERENCES public.pqrsf(id) ON DELETE CASCADE;


--
-- Name: case_status_history case_status_history_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.case_status_history
    ADD CONSTRAINT case_status_history_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: classification_feedback classification_feedback_pqrsf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classification_feedback
    ADD CONSTRAINT classification_feedback_pqrsf_id_fkey FOREIGN KEY (pqrsf_id) REFERENCES public.pqrsf(id) ON DELETE CASCADE;


--
-- Name: classification_feedback classification_feedback_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.classification_feedback
    ADD CONSTRAINT classification_feedback_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.users(id);


--
-- Name: communication_attachments communication_attachments_communication_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.communication_attachments
    ADD CONSTRAINT communication_attachments_communication_id_fkey FOREIGN KEY (communication_id) REFERENCES public.case_communications(id) ON DELETE CASCADE;


--
-- Name: contacts contacts_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contacts
    ADD CONSTRAINT contacts_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE CASCADE;


--
-- Name: customers customers_economic_sector_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_economic_sector_id_fkey FOREIGN KEY (economic_sector_id) REFERENCES public.economic_sectors(id) ON DELETE SET NULL;


--
-- Name: customers customers_ejecutivo_cuenta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_ejecutivo_cuenta_id_fkey FOREIGN KEY (ejecutivo_cuenta_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: customers customers_pm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pm_id_fkey FOREIGN KEY (pm_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: customers customers_sdm_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_sdm_id_fkey FOREIGN KEY (sdm_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: sla_rules fk_sla_customer; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sla_rules
    ADD CONSTRAINT fk_sla_customer FOREIGN KEY (customer_id) REFERENCES public.customers(id) ON DELETE SET NULL;


--
-- Name: knowledge_articles knowledge_articles_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knowledge_articles
    ADD CONSTRAINT knowledge_articles_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.areas(id) ON DELETE SET NULL;


--
-- Name: knowledge_articles knowledge_articles_arquitectura_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knowledge_articles
    ADD CONSTRAINT knowledge_articles_arquitectura_id_fkey FOREIGN KEY (arquitectura_id) REFERENCES public.architectures(id) ON DELETE SET NULL;


--
-- Name: knowledge_articles knowledge_articles_source_pqrsf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.knowledge_articles
    ADD CONSTRAINT knowledge_articles_source_pqrsf_id_fkey FOREIGN KEY (source_pqrsf_id) REFERENCES public.pqrsf(id) ON DELETE SET NULL;


--
-- Name: organizational_findings organizational_findings_management_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizational_findings
    ADD CONSTRAINT organizational_findings_management_system_id_fkey FOREIGN KEY (management_system_id) REFERENCES public.management_systems(id) ON DELETE SET NULL;


--
-- Name: organizational_findings organizational_findings_pqrsf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizational_findings
    ADD CONSTRAINT organizational_findings_pqrsf_id_fkey FOREIGN KEY (pqrsf_id) REFERENCES public.pqrsf(id) ON DELETE CASCADE;


--
-- Name: organizational_findings organizational_findings_validado_por_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizational_findings
    ADD CONSTRAINT organizational_findings_validado_por_id_fkey FOREIGN KEY (validado_por_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: pqrsf pqrsf_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.areas(id);


--
-- Name: pqrsf pqrsf_area_responsable_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_area_responsable_id_fkey FOREIGN KEY (area_responsable_id) REFERENCES public.areas(id);


--
-- Name: pqrsf pqrsf_arquitectura_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_arquitectura_id_fkey FOREIGN KEY (arquitectura_id) REFERENCES public.architectures(id);


--
-- Name: pqrsf_attachments pqrsf_attachments_pqrsf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_attachments
    ADD CONSTRAINT pqrsf_attachments_pqrsf_id_fkey FOREIGN KEY (pqrsf_id) REFERENCES public.pqrsf(id) ON DELETE CASCADE;


--
-- Name: pqrsf pqrsf_categoria_causa_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_categoria_causa_id_fkey FOREIGN KEY (categoria_causa_id) REFERENCES public.cause_categories(id);


--
-- Name: pqrsf pqrsf_causa_probable_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_causa_probable_id_fkey FOREIGN KEY (causa_probable_id) REFERENCES public.probables_causes(id);


--
-- Name: pqrsf_comments pqrsf_comments_pqrsf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_comments
    ADD CONSTRAINT pqrsf_comments_pqrsf_id_fkey FOREIGN KEY (pqrsf_id) REFERENCES public.pqrsf(id) ON DELETE CASCADE;


--
-- Name: pqrsf_comments pqrsf_comments_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_comments
    ADD CONSTRAINT pqrsf_comments_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.users(id);


--
-- Name: pqrsf pqrsf_contact_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_contact_id_fkey FOREIGN KEY (contact_id) REFERENCES public.contacts(id);


--
-- Name: pqrsf pqrsf_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(id);


--
-- Name: pqrsf pqrsf_estado_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_estado_id_fkey FOREIGN KEY (estado_id) REFERENCES public.workflow_states(id);


--
-- Name: pqrsf_history pqrsf_history_pqrsf_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_history
    ADD CONSTRAINT pqrsf_history_pqrsf_id_fkey FOREIGN KEY (pqrsf_id) REFERENCES public.pqrsf(id) ON DELETE CASCADE;


--
-- Name: pqrsf_history pqrsf_history_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf_history
    ADD CONSTRAINT pqrsf_history_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.users(id);


--
-- Name: pqrsf pqrsf_prioridad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_prioridad_id_fkey FOREIGN KEY (prioridad_id) REFERENCES public.priorities(id);


--
-- Name: pqrsf pqrsf_regla_aplicada_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_regla_aplicada_id_fkey FOREIGN KEY (regla_aplicada_id) REFERENCES public.business_rules(id);


--
-- Name: pqrsf pqrsf_responsable_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_responsable_id_fkey FOREIGN KEY (responsable_id) REFERENCES public.users(id);


--
-- Name: pqrsf pqrsf_sentimiento_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_sentimiento_id_fkey FOREIGN KEY (sentimiento_id) REFERENCES public.sentiments(id);


--
-- Name: pqrsf pqrsf_tipo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pqrsf
    ADD CONSTRAINT pqrsf_tipo_id_fkey FOREIGN KEY (tipo_id) REFERENCES public.pqrsf_types(id);


--
-- Name: processes processes_management_system_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processes
    ADD CONSTRAINT processes_management_system_id_fkey FOREIGN KEY (management_system_id) REFERENCES public.management_systems(id) ON DELETE SET NULL;


--
-- Name: processes processes_responsable_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.processes
    ADD CONSTRAINT processes_responsable_id_fkey FOREIGN KEY (responsable_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- Name: sla_rules sla_rules_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sla_rules
    ADD CONSTRAINT sla_rules_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.areas(id) ON DELETE SET NULL;


--
-- Name: sla_rules sla_rules_arquitectura_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sla_rules
    ADD CONSTRAINT sla_rules_arquitectura_id_fkey FOREIGN KEY (arquitectura_id) REFERENCES public.architectures(id) ON DELETE SET NULL;


--
-- Name: sla_rules sla_rules_prioridad_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sla_rules
    ADD CONSTRAINT sla_rules_prioridad_id_fkey FOREIGN KEY (prioridad_id) REFERENCES public.priorities(id) ON DELETE CASCADE;


--
-- Name: sla_rules sla_rules_tipo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sla_rules
    ADD CONSTRAINT sla_rules_tipo_id_fkey FOREIGN KEY (tipo_id) REFERENCES public.pqrsf_types(id) ON DELETE CASCADE;


--
-- Name: users users_area_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_area_id_fkey FOREIGN KEY (area_id) REFERENCES public.areas(id) ON DELETE SET NULL;


--
-- Name: workflow_state_visibility workflow_state_visibility_workflow_state_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_state_visibility
    ADD CONSTRAINT workflow_state_visibility_workflow_state_id_fkey FOREIGN KEY (workflow_state_id) REFERENCES public.workflow_states(id) ON DELETE CASCADE;


--
-- Name: workflow_transitions workflow_transitions_from_state_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_transitions
    ADD CONSTRAINT workflow_transitions_from_state_id_fkey FOREIGN KEY (from_state_id) REFERENCES public.workflow_states(id);


--
-- Name: workflow_transitions workflow_transitions_to_state_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.workflow_transitions
    ADD CONSTRAINT workflow_transitions_to_state_id_fkey FOREIGN KEY (to_state_id) REFERENCES public.workflow_states(id);


--
-- PostgreSQL database dump complete
--

\unrestrict vXoS6zWsYsFe3WeOEi6Aznv1joKVe3nG9TL8JIGHEkzQcnE6uPRcvCr4DhfcU1g

