# Database
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=pqrsf_db

# Security
JWT_SECRET=super-secret-key-change-in-prod
ADMIN_PASSWORD=admin123

# Email configuration
IMAP_SERVER=imap.gmail.com
IMAP_USER=tu_correo@gmail.com
IMAP_PASSWORD=tu_contraseña_de_aplicacion
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# IA Integration
GEMINI_API_KEY=tu_api_key_aqui
USE_MOCK=True
